.si-article {
  padding: 3.2rem .8rem;
}

@media screen and (min-width: 768px) {
  .si-article {
    padding: 3.2rem 15%;
    border-radius: 1.6rem;
    border: 0.3rem solid #366B95;
  }
}

.si-ttl {
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  .si-ttl {
    font-size: 4.2rem;
  }
}

.si-article__img {
  width: 100%;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .si-article__img {
    margin-top: 1.6rem;
  }
}

.si-article__cate {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #707070;
}

@media screen and (min-width: 768px) {
  .si-article__cate {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .si-article__cate {
    margin-top: 2.4rem;
  }
}

.si-article__content {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: 0.3rem solid #366B95;
}

.si-article__content * {
  max-width: 100%;
}

.si-article__content p {
  margin: 1.6rem 0;
  line-height: 1.7;
  font-size: 1.6rem;
}

.si-article__content a {
  color: #366B95;
}

.si-article__content a:hover, .si-article__content a:visited {
  color: rgba(54, 107, 149, 0.6);
}

.si-article__content img {
  max-width: 90%;
}

.si-article__content h1, .si-article__content h2, .si-article__content h3, .si-article__content h4, .si-article__content h5, .si-article__content h6 {
  margin: 3.2rem 0 1rem;
  color: #366B95;
  line-height: 1.7;
}

.si-article__content h1, .si-article__content h2 {
  position: relative;
  display: block;
  font-size: 2.8rem;
}

@media screen and (min-width: 768px) {
  .si-article__content h1, .si-article__content h2 {
    font-size: 3.6rem;
  }
}

.si-article__content h1:before, .si-article__content h2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  border-radius: .25rem;
  background: #366B95;
}

.si-article__content h1::after, .si-article__content h2::after {
  content: '';
  position: absolute;
  bottom: -.3rem;
  right: 0%;
  border: solid 0.5rem #366B95;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(1rem, -0.3rem);
          transform: translate(1rem, -0.3rem);
}

.si-article__content h3 {
  position: relative;
  padding-left: 2.4rem;
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .si-article__content h3 {
    font-size: 3.2rem;
  }
}

.si-article__content h3:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: solid 0.5rem #366B95;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.si-article__content h4, .si-article__content h5 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .si-article__content h4, .si-article__content h5 {
    font-size: 2.8rem;
  }
}

.si-article__content h4:before, .si-article__content h5:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .3rem;
  border-radius: .15rem;
  background: #366B95;
}

.si-article__content ul {
  margin: 3.2rem 0;
  padding-left: 3.2rem;
}

.si-article__content li {
  list-style: circle;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .si-article__content li {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .si-article__content h1, .si-article__content h2, .si-article__content h3, .si-article__content h4, .si-article__content h5, .si-article__content h6 {
    margin: 6rem 0 1.6rem;
    color: #366B95;
    line-height: 1.5;
  }
  .si-article__content h3, .si-article__content h4, .si-article__content h5, .si-article__content h5 {
    margin-top: 3.2rem;
  }
  .si-article__content h1::after, .si-article__content h2::after {
    width: 4rem;
    height: 4rem;
    -webkit-transform: translate(2rem, -0.3rem);
            transform: translate(2rem, -0.3rem);
  }
  .si-article__content p {
    margin: 2.4rem;
  }
}

.schema-how-to-steps {
  padding-left: 20px;
}

.schema-how-to-steps li {
  list-style: decimal;
}
