// -----------------------------------------------------------------------------
// #single用スタイル
// -----------------------------------------------------------------------------


@import "../_single";

.si-article {
  padding: 3.2rem .8rem;
}
@include _mq-up(){
  .si-article {
    padding: 3.2rem 15%;
    border-radius: 1.6rem;
    border: .3rem solid $_color-ac1;
  }
}

.si-ttl {
  @include _fz('xxl');
}

.si-article__img {
  width: 100%;
  margin-top: 1rem;
}
@include _mq-up(){
  .si-article__img {
    margin-top: 1.6rem;
  }
}

.si-article__cate {
  margin-top: 1rem;
  @include _fz('xs');
  color: $_color-text2;
}
@include _mq-up(){
  .si-article__cate {
    margin-top: 2.4rem;
  }
}

.si-article__content {
  margin-top: 4rem;
  padding-top: 4rem;
  border-top: .3rem solid $_color-ac1;
  * {
    max-width: 100%;
  }
  p {
    margin: 1.6rem 0;
    line-height: 1.7;
    font-size: 1.6rem;
  }

  a{
    color: $_color-ac1;
  }
  a:hover, a:visited {
    color: rgba( $_color-ac1, $alpha: .6);
  }

  img {
    max-width: 90%;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 3.2rem 0 1rem;
    color: $_color-ac1;
    line-height: 1.7;
  }
  h1,h2 {
    position: relative;
    display: block;
    @include _fz('xl');

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5rem;
      border-radius: .25rem;
      background: $_color-ac1;
    }
  
    &::after {
      content: '';
      position: absolute;
      bottom: -.3rem;
      right: 0%;
      border: solid .5rem $_color-ac1;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      transform: translate(1rem, -.3rem);
    }
  }
  h3 {
    position: relative;
    padding-left: 2.4rem;
    @include _fz('lg');

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      border: solid .5rem $_color-ac1;
      transform: translateY(-50%);
    }
  }
  h4, h5 {
    position: relative;
    display: inline-block;
    @include _fz('md');

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .3rem;
      border-radius: .15rem;
      background: $_color-ac1;
    }
  }
  ul{
    margin: 3.2rem 0;
    padding-left: 3.2rem;
  }
  li {
    list-style: circle;
    @include _fz('xs');
  }
}

@include _mq-up(){
  .si-article__content {
    h1,h2,h3,h4,h5,h6 {
      margin: 6rem 0 1.6rem;
      color: $_color-ac1;
      line-height: 1.5;
    }
    h3,h4,h5,h5 {
      margin-top: 3.2rem;
    }
    h1, h2 {
      &::after {
        width: 4rem;
        height: 4rem;
        transform: translate(2rem, -.3rem);
      }
    }
    p{
      margin: 2.4rem;
    }
  }

}

.schema-how-to-steps {
  padding-left: 20px;
  li {
    list-style: decimal;
  }
}