.c-button {
    position: relative;
    display: inline-block;
    padding: 2rem 3rem;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    @include _fz('lg');
    font-weight: $_font-weight-bold;
    color: $_color-ac1;
    transition: all $_duration ease;
    cursor: pointer;
  }

  .c-button:hover {
    background: #f5f5f5;
    box-shadow: inset .7rem .7rem 1rem #c2c2c2, inset -.7rem -.7rem 1rem #ffffff;
  }