.c-head1 {
  position: relative;
  display: inline-block;
  line-height: 1.3;
}

.c-head1__deco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130%;
  height: 0.5rem;
  background: $_color-ac1;

  &::before, &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid .5rem $_color-ac1;
    border-radius: 50%;
  }
  &::before {
    width: 3rem;
    height: 3rem;
    transform: translateX(1.5rem);
  }
  &::after {
    width: 1.5rem;
    height: 1.5rem;
    background: $_color-ac1;
    transform: translate(.75rem, -.3rem);
  }
}