.c-pagination .swiper-pagination-bullet {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 1.6rem !important;
  background: $_color-ac1;
  opacity: 1;

  &:focus {
    outline: none;
  }
}

.c-pagination .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  bottom: -.8rem;
  right: -.8rem;
  width: 3.2rem;
  height: 3.2rem;
  border: solid .4rem $_color-ac1;
  border-radius: 50%;
}