// -----------------------------------------------------------------------------
// #archive用スタイル
// -----------------------------------------------------------------------------


@import "../_single";
.ar-ttl {
  @include _fz('xxl');
}

.ar-list {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem 0 0rem;
  align-items: center;
  justify-content: center;
}


@include _mq-up(){
  .ar-list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8rem 0 2.4rem;
  }
}

.ar-work__card {
  width: 100%;

  &:hover {
    transform: scale(1.2);
  }
}
.ar-work__card + .ar-work__card {
  margin-top: 3.2rem;
}

@include _mq-up(){
  .ar-work__card {
    width: 30%;
    margin-bottom: 5.6rem;

    &:nth-of-type(3n + 1){
      margin-left: 0 !important;
    }
  }
  .ar-work__card + .ar-work__card {
    margin-top: 0;
    margin-left: 5%;
  }
}