
.tp-service__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem 0 0;
  justify-content: space-between;
}

.tp-service__card {
  width: 100%;
}
.tp-service__card + .tp-service__card {
  margin-top: 4rem;
}

.tp-service__img {
  width: 70%;
  margin: 0 auto;

  img {
    padding: 2rem;
    border: .8rem solid $_color-ac1;
    border-radius: 0 4rem 0 4rem;
    object-fit: cover;
  }
}

.tp-service__ttl {
  margin-top: 1.6rem;
}

.tp-service__info {
  margin-top: .8rem;
  text-align: justify;
}


@include _mq-up(){
  .tp-service__wrapper {
    flex-direction: row;
    padding-top: 8rem;
  }

  .tp-service__card {
    width: 30%;
  }
  .tp-service__card + .tp-service__card {
    margin-top: 0;
  }
}