.tp-work {
  
}
.swiper-container.tp-works__slider {
  margin: 0 -2rem;
  padding: 8rem 0;
}

@include _mq-up(){
  .tp-works__slide {
    transform: scale(.9);
  }
  
  .swiper-slide-active.tp-works__slide {
    transform: scale(1.2);
  }
}
