.tp-work {
  
}
.swiper-container.tp-work__slider {
  margin: 0 -2rem;
  padding: 8rem 0;
}

.tp-work__slide {
  transform: scale(.9);
}

.swiper-slide-active.tp-work__slide {
  transform: scale(1.2);
}
