.p-blog__list {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: 0 auto;
  padding: 4rem 0 2rem;
  align-items: center;
  justify-content: center;
}

@include _mq-up(){
  .p-blog__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8rem 0 0rem;
  }
}

.p-blogCard {
  width: 100%;
  border-radius: 1.6rem;
  background: $_color-bg1;
  box-shadow:  5px 5px 10px #c2c2c2, -5px -5px 10px #ffffff;
  transition: all $_duration ease;

  &:hover {
    animation: shadowinset $_duration ease-in-out 0s normal both;
  }
}

.p-blogCard + .p-blogCard {
  margin-top: 3.2rem;
}

.p-blogCard__img {
  width: 100%;
  img {
    border-radius: 1.6rem 1.6rem 0 0;
    object-fit: cover;
  }
}

.p-blogCard__ttl {
  padding: 2rem;
  @include _fz('md');
  font-weight: $_font-weight-medium;
}

@keyframes shadowinset {
  0%{
    box-shadow:  5px 5px 10px #c2c2c2, -5px -5px 10px #ffffff;
  }
  20%{
    box-shadow:  3px 3px 6px #c2c2c2, -3px -3px 6px #ffffff;
  }
  40%{
    box-shadow:  none
  }
  100%{
    box-shadow: inset 5px 5px 10px #c2c2c2, inset -5px -5px 10px #ffffff;
  }
}

@include _mq-up(){
  .p-blogCard {
    width: 30%;
    margin-bottom: 5.6rem;
    border-radius: 3rem;
    
    &:nth-of-type(3n + 1){
      margin-left: 0 !important;
    }
  }
  
  .p-blogCard + .p-blogCard {
    margin-top: 0;
    margin-left: 5%;
  }

  .p-blogCard__img {
    img {
      border-radius: 3rem 3rem 0 0;
    }
  }
}