.p-workCard {
  transition: all $_duration ease;
}
.p-workCard__ttl {
  line-height: 1;
}

.p-workCard__img {
  margin-top: 1.6rem;
  
  img {
    width: 100%;
    border: solid .3rem $_color-ac1;
    border-radius: 1.6rem;
    object-fit: contain;
  }
}

.p-workCard__cate {
  margin-top: .8rem; 
}

@include _mq-up(){
  .p-workCard__img {
    img {
      border-radius: 3rem;
    }
  }
}